@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

#shopify-url-generator {
  position: fixed;
  width: 320px;
  height: 400px;
  top: 50%;
  right: 0;
  z-index: 999999;
  pointer-events: none;
  transform: translateY(-50%);
}

.WidgetContainer {
  position: relative;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  pointer-events: auto;
  transition: 0.4s ease-in-out;
}

.WidgetContainer--Closed {
  transform: translateX(100%);
}

.WidgetContainer__Arrow {
  position: relative;
  transition: 0.2s ease-in-out;
  left: 0;
}

.WidgetContainer--Open .WidgetContainer__Arrow {
  transform: rotate(180deg);
  left: 2px;
}

.WidgetContainer__Wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #293241;
  color: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  position: relative;
  overflow: hidden;
}

.WidgetContainer__Opener {
  display: flex;
  align-items: center;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
  background-color: #ee6c4d;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 1.8em;
  font-weight: 500;
  line-height: 25px;
  border-radius: 6px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  transform-origin: center;
}

.WidgetContainer--Open .WidgetContainer__Opener {
  background-color: #3d5a80;
}

.WidgetHeader {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px 10px 0 10px;
}

.WidgetHeader__tab,
.WidgetUrlGenerator__Button {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
}

.WidgetHeader__tab.active,
.WidgetHeader__tab.active:hover {
  background-color: #3d5a80;
}

.WidgetHeader__tab.active:hover {
  letter-spacing: 1px;
  cursor: default;
}

.WidgetHeader__tab:hover,
.WidgetUrlGenerator__Button:hover {
  background-color: #ee6c4d;
  letter-spacing: 2px;
}

.WidgetHeader__Disabled {
  pointer-events: none;
}

.Tab__Content {
  flex: 1 1;
}

.WidgetContent {
  flex: 1 1 auto;
  padding: 10px;
  overflow: auto;
}

.WidgetUrlGenerator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.WidgetUrlGenerator__Action,
.WidgetUrlGenerator__Response {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.2s ease-in-out;
  opacity: 1;
  margin: 0 auto;
}

.WidgetUrlGenerator--default .WidgetUrlGenerator__Response {
  transform: translateX(100%);
  opacity: 0;
}

.WidgetUrlGenerator--success .WidgetUrlGenerator__Action {
  transform: translateX(-100%);
  opacity: 0;
}

.WidgetUrlGenerator--success .WidgetUrlGenerator__Response {
  transform: translateX(0%);
}

.WidgetUrlGenerator__Image-Container {
  display: flex;
  justify-content: center;
}

.WidgetUrlGenerator__Headline {
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
}

.WidgetUrlGenerator__Response .WidgetUrlGenerator__Headline {
  display: flex;
  align-items: center;
  margin-top: 0;
  min-height: 120px;
}

.WidgetUrlGenerator__Button {
  margin-top: 30px;
  background-color: #ce5b3e;
}

.WidgetFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  background-color: #3d5a80;
  font-size: 12px;
}

.WidgetFooter__Link {
  color: #fff;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  text-decoration: underline;
}

.WidgetFooter__Link:hover {
  color: #ee6c4d;
  text-decoration: underline;
}
