.Widget {
  position: fixed;
  width: 320px;
  height: 400px;
  top: 50%;
  right: 0;
  z-index: 999999;
  pointer-events: none;
  transform: translateY(-50%);
}

.WidgetContainer {
  position: relative;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  pointer-events: auto;
  transition: 0.4s ease-in-out;
}

.WidgetContainer--Closed {
  transform: translateX(100%);
}

.WidgetContainer--Closed .WidgetContainer__Opener {
  transform: translateY(-50%) translateX(85%);
}

.WidgetContainer--Closed .WidgetContainer__Opener .WidgetContainer__Arrow {
  transform: translateX(-20%);
}

.WidgetContainer--Closed .WidgetContainer__Opener-Container:hover .WidgetContainer__Opener {
  transform: translateY(-50%) translateX(0%);
}

.WidgetContainer--Closed .WidgetContainer__Opener-Container:hover .WidgetContainer__Opener .WidgetContainer__Arrow {
  transform: translateX(0%);
}


.WidgetContainer__Arrow {
  display: flex;
  position: absolute;
  transition: 0.2s ease-in-out;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
}

.WidgetContainer--Open .WidgetContainer__Arrow {
  transform: rotate(180deg);
}

.WidgetContainer__Wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #293241;
  color: #fff;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  position: relative;
  overflow: hidden;
}

.WidgetContainer__Opener-Container {
  position: absolute;
  top: 50%;
  width: 60px;
  height: 60px;
  transform: translateY(-50%) translateX(-100%);
}

.WidgetContainer__Opener {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(0%);
  background-color: #ee6c4d;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 1.8em;
  font-weight: 500;
  border-radius: 6px;
  height: 30px;
  width: 30px;
  overflow: hidden;
  transition: 0.2s ease-in-out;
  transform-origin: center;
}

.WidgetContainer--Open .WidgetContainer__Opener {
  background-color: #3d5a80;
}

.WidgetHeader {
  display: grid;
  gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px 10px 0 10px;
}

.WidgetHeader__tab,
.WidgetUrlGenerator__Button,
.WidgetHistory__Button {
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  border-radius: 3px;
  font-size: 12px;
  border: 2px solid transparent;
}

.WidgetHeader__tab {
  border-color: #3d5a80;
}

.WidgetHeader__tab.active,
.WidgetHeader__tab.active:hover {
  background-color: #ee6c4d;
  border-color: #ee6c4d;
}

.WidgetHeader__tab.active:hover {
  letter-spacing: 1px;
  cursor: default;
  border-color: #ee6c4d;
}

.WidgetHeader__tab:hover,
.WidgetUrlGenerator__Button:hover,
.WidgetHistory__Button:hover {
  background-color: #ee6c4d;
  border-color: #ee6c4d;
}

.WidgetHeader__Disabled {
  pointer-events: none;
  border-color: transparent;
  opacity: 0.75;
}

.Tab__Content {
  flex: 1 1;
}

.WidgetContent {
  flex: 1 1 auto;
  padding: 10px;
  overflow: auto;
}

.WidgetUrlGenerator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.WidgetUrlGenerator__Action,
.WidgetUrlGenerator__Response {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.2s ease-in-out;
  opacity: 1;
  margin: 0 auto;
}

.WidgetUrlGenerator--default .WidgetUrlGenerator__Response {
  transform: translateX(100%);
  opacity: 0;
}

.WidgetUrlGenerator--success .WidgetUrlGenerator__Action {
  transform: translateX(-100%);
  opacity: 0;
}

.WidgetUrlGenerator--success .WidgetUrlGenerator__Response {
  transform: translateX(0%);
}

.WidgetUrlGenerator__Image-Container {
  display: flex;
  justify-content: center;
}

.WidgetUrlGenerator__Headline {
  margin-top: 10px;
  font-weight: 500;
  text-align: center;
}

.WidgetUrlGenerator__Response .WidgetUrlGenerator__Headline {
  display: flex;
  align-items: center;
  margin-top: 0;
  min-height: 120px;
}

.WidgetUrlGenerator__Button,
.WidgetHistory__Button {
  margin-top: 30px;
  background-color: #ce5b3e;
}

.WidgetSettings__Headline {
  font-size: 20px;
  font-weight: 500;
}

.WidgetHistory__Search {
  position: sticky;
  top: 0;
  display: flex;
  flex: 1 1 auto;
  min-width: 0;
  width: 100%;
  border-radius: 3px;
  padding: 8px;
  border: 0px solid transparent;
  margin-bottom: 10px;
  background-color: #fff;
  color: #293241;
}

.WidgetHistory__List {
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 20px;
}

.WidgetHistory__Store {
  padding-bottom: 10px;
  padding: 10px;
  font-weight: 500;
  font-size: 16px;
}

.WidgetHistory__DropdownHeader {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #ee6c4d;
  transition: 0.2s ease-in-out;
  color: #ee6c4d;
}

.WidgetHistory__DropdownHeader,
.WidgetHistory__Name {
  font-size: 0.9em;
}

.WidgetHistory__DropdownHeader:hover {
  background-color: #ce5b3e;
  border-bottom: 2px solid #ce5b3e;
  color: #fff;
  cursor: pointer;
}

.WidgetHistory__ThemeKey {
  padding-right: 15px;
}

.WidgetHistory__Arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  transition: transform 0.4s ease-in-out;
  transform: rotate(0deg);
}

.WidgetHistory__Dropdown.WidgetHistory__Dropdown--closed .WidgetHistory__DropdownContent {
  display: none;
}

.WidgetHistory__Dropdown.WidgetHistory__Dropdown--open .WidgetHistory__Arrow {
  transform: rotate(180deg);
}

.WidgetHistory__Listitem {
  padding: 10px;
  border-bottom: 2px solid #ee6c4d;
}

.WidgetHistory__Role,
.WidgetHistory__Pathname {
  font-size: 0.75em;
}

.WidgetHistory__Name {
  font-weight: 500;
  color: #ee6c4d;
}

.WidgetHistory__Role {
  margin-bottom: 5px;
}

.WidgetHistory__Pathname {
  margin-bottom: 10px;
}

.WidgetHistory__ButtonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  margin-bottom: 10px;
}

.WidgetHistory__ButtonContainer .WidgetHistory__Button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: 0;
  padding: 5px;
  font-size: 1.5em;
}

.WidgetSettings__List {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  border-bottom: 2px solid #ce5b3e;
  padding-bottom: 20px;
}

.WidgetSettings__Listitem {
  display: flex;
  align-items: center;
}

.WidgetSettings__Listitem.WidgetSettings__Checkbox {
  cursor: pointer;
}

.WidgetSettings__Listitem input {
  margin: 0 10px 0 0;
  width: 1.1em;
  height: 1.1em;
}

.WidgetSettings__Listitem label {
  padding: 0;
  margin: 0;
}

.WidgetSettings__Listitem input,
.WidgetSettings__Listitem label {
  pointer-events: none;
}

.WidgetFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
  background-color: #3d5a80;
  font-size: 12px;
}

.WidgetFooter__Link {
  color: #fff;
  font-weight: 500;
  transition: 0.2s ease-in-out;
  text-decoration: underline;
}

.WidgetFooter__Link:hover {
  color: #ee6c4d;
  text-decoration: underline;
}

.WidgetUrlGenerator__Buttons {
  display: flex;
  gap: 10px;
}